---
import calculators from "../data/calculators";
import { dedupeCalculators } from "../lib/dedupe";

const dedupedList = dedupeCalculators(calculators);
const list = dedupedList.filter(calc => calc.category === "date-time");
---

<h1>Date-time Calculators</h1>
<ul>
  {list.map(calc => (
    <li><a href={"/calculators/" + calc.slug}>{calc.name}</a></li>
  ))}
</ul>
