---
/**
 * Legacy "Math" category page.  We have reorganised math content
 * into more specific categories such as Algebra and Geometry.  To
 * guide old links, this page redirects to Algebra by default.
 */
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Math calculators" description="Math calculators">
  <meta http-equiv="refresh" content="0; url=/categories/algebra/" />
  <p style="margin-top:1rem;">Our math calculators have moved into the Algebra and Geometry categories.  Redirecting… If you are not redirected automatically, please <a href="/categories/algebra/">click here</a>.</p>
</BaseLayout>