---
/**
 * Legacy "Science" category page.  Science calculators are now part
 * of the Statistics category.  This file redirects visitors to
 * `/categories/statistics/`.
 */
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Science calculators" description="Science calculators">
  <meta http-equiv="refresh" content="0; url=/categories/statistics/" />
  <p style="margin-top:1rem;">Our science calculators have moved to the Statistics category.  Redirecting… If you are not redirected automatically, please <a href="/categories/statistics/">click here</a>.</p>
</BaseLayout>