---
/**
 * Legacy "Technology" category page.  This category has been folded
 * into the broader Business category.  We redirect requests for
 * `/technology` to `/categories/business/` so that visitors land on
 * the new location.
 */
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Technology calculators" description="Technology calculators">
  <meta http-equiv="refresh" content="0; url=/categories/business/" />
  <p style="margin-top:1rem;">Our technology calculators are now part of the Business category.  Redirecting… If you are not redirected automatically, please <a href="/categories/business/">click here</a>.</p>
</BaseLayout>