---
---
<div class="container mx-auto max-w-5xl px-4 pb-10">
  <div class="min-h-[90px] rounded-xl border border-dashed border-slate-300 grid place-items-center">
    <a href="/" aria-label="CalcSimpler" class="logo">
      <img src="/logo.svg" alt="CalcSimpler logo" />
      <span class="logo-text">CalcSimpler</span>
    </a>
  </div>
</div>
