---
---
<div class="container mx-auto max-w-5xl px-4 pb-10">
  <div class="min-h-[90px] rounded-xl border border-dashed border-slate-300 grid place-items-center">
    <div class="logo">
      <img src="/logo.svg" alt="CalcSimpler logo" class="h-16 w-auto" />
      <span class="logo-text text-4xl">CalcSimpler</span>
    </div>
  </div>
</div>
