---
---
<div class="container mx-auto max-w-5xl px-4 pb-10">
  <div class="min-h-[90px] rounded-xl border border-dashed border-slate-300 flex items-center justify-center p-4">
    <div class="flex items-center gap-4">
      <img src="/logo.svg" alt="CalcSimpler logo" class="h-16 w-auto" />
      <span class="logo-text" style="font-size:2.25rem;">CalcSimpler</span>
    </div>
  </div>
</div>
