---
---
<div class="hidden lg:block">
  <div class="w-[160px] min-h-[600px] rounded-xl border border-dashed border-slate-300 grid place-items-center">
    <a href="/" aria-label="CalcSimpler" class="logo">
      <img src="/logo.svg" alt="CalcSimpler logo" />
      <span class="logo-text">CalcSimpler</span>
    </a>
  </div>
</div>
