---
---
<div class="hidden lg:block">
  <div class="w-[160px] min-h-[600px] rounded-xl border border-dashed border-slate-300 grid place-items-center">
    <img src="/logo.svg" alt="CalcSimpler logo" class="w-24" />
  </div>
</div>
