---
---
<div class="hidden lg:block">
  <div class="w-[160px] min-h-[600px] rounded-xl border border-dashed border-slate-300 flex flex-col items-center justify-center p-4 text-center">
    <img src="/logo.svg" alt="CalcSimpler logo" class="w-24 mb-4" />
    <span class="logo-text" style="font-size:1.5rem;">CalcSimpler</span>
  </div>
</div>
