---
---
<div class="hidden lg:block">
  <div class="w-[160px] min-h-[600px] rounded-xl border border-dashed border-slate-300 grid place-items-center">
    <div class="logo flex-col items-center text-center">
      <img src="/logo.svg" alt="CalcSimpler logo" class="w-24 h-auto" />
      <span class="logo-text text-2xl mt-2">CalcSimpler</span>
    </div>
  </div>
</div>
