---
---
<div class="hidden lg:block">
  <div class="w-[160px] min-h-[600px] rounded-xl border border-dashed border-slate-300 grid place-items-center text-slate-500">
    <img src="/logo.svg" alt="CalcSimpler" class="h-16 w-auto opacity-70" />
  </div>
</div>
